h1, h2 {
  margin: 0;
}

canvas {
  position: fixed;
  top: 30px;
  left: 30px;
  border: 1px solid black;
}

body.delete canvas {
  cursor: url('images/cross.png'), default;
}

body.place canvas {
  cursor: 
}

#network {
  z-index: 2
}

/*#states {
  z-index: 3
}*/

#action_menu {
  position: fixed;
  top: 530px;
  left: 30px;
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  min-width: 800px;
  width: 1000px;
  justify-content: space-between;
}

#play_menu {
  position: fixed;
  top: 630px;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin: auto;
  justify-content: center;
}

#play_menu li {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  width: 75px;
  margin-right: 20px;
  text-align: center;
}

#action_menu li {
  border: 1px solid black;
  padding: 20px;
  width: 100px;
  text-align: center;
}

li.selected {
  background: orange
}

body {
  position: relative;
}

.focused_node {
  height: 480px;
  width: 250px;
  border: 1px solid black;
  padding: 10px;
  position: fixed;
  left: 1050px;
  top: 30px;
}

table {
  padding: 5px;
  width: 100%
}

td {
  max-height: 100px;
  overflow: hidden;
}
.connection_row {
  background: rgba(10,10,10,.2)
}

.focused_node * {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 80px;
  overflow: scroll;
}

ul::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: none;
  width: 7px;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#focused_node {
  height: 30px;
  width: 100px;
  border: 1px solid black;
}

.focused_node li {
  list-style: none
}

#node_threshold {
  display: inline-block;
}

.t-center {
  text-align: center !important
}

#direction_menu {
  z-index: 3;
  position: fixed;
  top: 50px;
  left: 50px;
}

#direction_menu .relative *  {
  z-index: 3;
  height: 0;
  width: 0;
  position: relative;
}

#direction_menu .relative .up_arrow {
  top: 0px;
  left: 40px;
}

#direction_menu .relative .down_arrow {
  top: 75px;
  left: 40px;
}

#direction_menu .relative .left_arrow {
  top: -21px;
  left: 0px;
}

#direction_menu .relative .right_arrow {
  top: -81px;
  left: 110px;
}

.up_arrow {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid black;
}

.down_arrow {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid black;
}

.right_arrow {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid black;
}

.left_arrow {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid black;
}

footer {
  position: fixed;
  bottom: 0;
}