h1, h2 {
  margin: 0;
}

canvas {
  position: fixed;
  top: 30px;
  left: 30px;
  border: 1px solid black;
}

#network {
  z-index: 2
}

/*#states {
  z-index: 3
}*/

#action_menu {
  position: fixed;
  top: 530px;
  left: 30px;
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  min-width: 800px;
  width: 1000px;
  justify-content: space-between;
}

#play_menu {
  position: fixed;
  top: 630px;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin: auto;
  justify-content: center;
}

#play_menu li {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  width: 75px;
  margin-right: 20px;
  text-align: center;
}

#action_menu li {
  border: 1px solid black;
  padding: 20px;
  width: 100px;
  text-align: center;
}

li.selected {
  background: orange
}

body {
  position: relative;
}

.focused_node {
  height: 480px;
  width: 250px;
  border: 1px solid black;
  padding: 10px;
  position: fixed;
  left: 1050px;
  top: 30px;
}

table {
  padding: 5px;
  width: 100%
}
.connection_row {
  background: rgba(10,10,10,.2)
}

.focused_node * {
  text-align: left;
  margin-top: 0px
  margin-bottom: 0px
}

#focused_node {
  height: 30px;
  width: 100px;
  border: 1px solid black;
}

.focused_node li {
  list-style: none
}

#node_threshold {
  display: inline-block;
}

.t-center {
  text-align: center !important
}